In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
import mysql.connector as sql

mydb = sql.connect(
    host = "localhost",
    user = "root",
    password = "MysqlRoot@133",
    )
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B60E7EB830>

In [5]:
mycursor = mydb.cursor()

In [6]:

# mycursor.execute("CREATE DATABASE Transaction_data", if_exists='replace')

In [7]:
mycursor.execute("SHOW DATABASES")

In [8]:
for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('transaction_data',)

In [9]:
pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (2.0.31)
Requirement already satisfied: mysql-connector-python in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (8.4.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khyal\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\khyal\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import sqlalchemy as db
from sqlalchemy import text
from sqlalchemy import *

In [5]:
engine = create_engine('mysql+mysqlconnector://root:MysqlRoot%40133@localhost/transaction_data', pool_size = -1, max_overflow = -1)
conn = engine.connect()

In [4]:
query = text(""" SELECT Revenue_max_Sep 
                        FROM country_table 
                        WHERE  country_table.Country = "Australia" """)

In [19]:
output  = conn.execute(query)
results = {'answer':output.scalars().all()[0]}

In [20]:
results

{'answer': 1658.88}

In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
import sqlalchemy as db
db.__version__
from sqlalchemy import create_engine
# import pyodbc

In [12]:
# Create a sample DataFrame
df1 = pd.read_csv('Country_dataframe.csv')
df2 = pd.read_csv('Customer_dataframe.csv')

In [13]:
# Create a connection to a MySQL database
engine = db.create_engine('mysql+mysqlconnector://root:MysqlRoot%40133@localhost/transaction_data', pool_size = -1, max_overflow = -1)
conn = engine.connect()
metadat = db.MetaData

In [14]:
engine

Engine(mysql+mysqlconnector://root:***@localhost/transaction_data)

In [15]:
# Write the DataFrame to a SQL table
df1.to_sql('country_table', engine, if_exists='replace', index=False)

38

In [16]:
country_table

NameError: name 'country_table' is not defined

In [ ]:
# Verify by reading from the table
result1 = pd.read_sql('SELECT * FROM country_table', con=engine)
print(result1)

                 Country  Revenue computation of max in year 2018  \
0              Australia                                  5221.44
1                Austria                                  1490.40
2                Bahrain                                   852.12
3                Belgium                                   683.10
4                 Brazil                                   725.76
5                 Canada                                  2280.90
6        Channel Islands                                  1690.56
7                 Cyprus                                  1327.68
8         Czech Republic                                   293.76
9                Denmark                                  1775.52
10                  EIRE                                  9797.76
11    European Community                                   248.40
12               Finland                                  2281.98
13                France                                  4704.30
14               Germany                                  3628.80
15                Greece                                   725.76
16             Hong Kong                                 10987.38
17               Iceland                                  1036.80
18                Israel                                  1451.52
19                 Italy                                   811.44
20                 Japan                                 15713.28
21               Lebanon                                   633.60
22             Lithuania                                   506.88
23                 Malta                                   662.40
24           Netherlands                                  5788.80
25                Norway                                  2898.00
26                Poland                                   496.80
27              Portugal                                  5141.82
28                   RSA                                   158.40
29          Saudi Arabia                                    82.08
30             Singapore                                 16350.21
31                 Spain                                  5594.40
32                Sweden                                  4924.80
33           Switzerland                                  1324.80
34                   USA                                   316.80
35  United Arab Emirates                                   633.60
36        United Kingdom                              40710850.56
37           Unspecified                                   287.28

    Revenue computation of max in year 2019  \
0                                   7142.40
1                                    662.40
2                                      0.00
3                                    655.20
4                                      0.00
5                                      0.00
6                                    410.40
7                                    122.40
8                                    -16.56
9                                    687.60
10                                  2534.40
11                                     0.00
12                                  1118.88
13                                 17226.81
14                                  2903.04
15                                   558.90
16                                  1350.06
17                                   440.64
18                                     0.00
19                                  1242.00
20                                 15177.60
21                                     0.00
22                                     0.00
23                                  1883.70
24                                 20736.00
25                                  1324.80
26                                   249.12
27                                   579.60
28                                     0.00
29                                     0.00
30                                     0.00
31                                  5594.40
32                                  1149.12
33                                  1490.40
34                                   336.96
35                                     0.00
36                                699796.80
37                                   184.68

    Revenue computation of max in year 2028  \
0                                      0.00
1                                      0.00
2                                      0.00
3                                      0.00
4                                      0.00
5                                      0.00
6                                      0.00
7                                      0.00
8                                      0.00
9                                      0.00
10                                     0.00
11                                     0.00
12                                     0.00
13                                   492.48
14                                   372.96
15                                     0.00
16                                     0.00
17                                   293.76
18                                     0.00
19                                     0.00
20                                     0.00
21                                     0.00
22                                     0.00
23                                     0.00
24                                     0.00
25                                     0.00
26                                     0.00
27                                     0.00
28                                     0.00
29                                     0.00
30                                     0.00
31                                     0.00
32                                     0.00
33                                     0.00
34                                     0.00
35                                     0.00
36                                 56061.12
37                                     0.00

    Revenue computation of mean, 2018  Revenue computation of mean, 2019  \
0                          445.390165                         628.114000
1                          104.197407                         108.400909
2                          119.725263                           0.000000
3                           80.248669                          88.004264
4                          148.119375                           0.000000
5                          100.745563                           0.000000
6                          112.805104                          86.498148
7                          101.051813                          14.907526
8                          118.378889                         -85.110000
9                          222.220277                         135.976800
10                         139.707705                         108.872225
11                          87.816885                           0.000000
12                         127.607625                         156.583556
13                          95.279915                          97.448321
14                          97.325318                          94.642755
15                         151.867091                          78.400000
16                         144.736582                         143.413333
17                          92.744516                         108.671379
18                         111.752662                           0.000000
19                          83.913873                          93.327359
20                         344.274536                         763.095000
21                         155.982000                           0.000000
22                         196.695429                           0.000000
23                          77.903365                          99.442174
24                         467.052825                         609.141912
25                         131.155185                         140.769076
26                          91.206966                          75.246486
27                          79.827529                          83.440246
28                          71.649828                           0.000000
29                          54.408000                           0.000000
30                         165.232140                           0.000000
31                          91.687278                          83.881953
32                         383.366116                         129.901224
33                         118.349162                         113.064988
34                           7.107589                          83.438507
35                         116.019265                           0.000000
36                         181.658501                          68.068581
37                          40.257224                          75.576226

    Revenue computation of mean, 2028  Revenue computation of min, 2018  \
0                            0.000000                          -1761.00
1                            0.000000                            -88.05
2                            0.000000                           -852.12
3                            0.000000                            -78.93
4                            0.000000                             62.28
5                            0.000000                             10.50
6                            0.000000                          -1213.02
7                            0.000000                          -1327.68
8                            0.000000                           -148.32
9                            0.000000                           -247.68
10                           0.000000                          -7936.38
11                           0.000000                            -35.22
12                           0.000000                           -165.60
13                          98.506230                          -4704.30
14                         145.500000                          -2481.93
15                           0.000000                           -207.00
16                           0.000000                         -10987.38
17                          95.210323                             20.88
18                           0.000000                           -563.52
19                           0.000000                            -74.52
20                           0.000000                          -6589.44
21                           0.000000                             42.48
22                           0.000000                             54.72
23                           0.000000                            -41.22
24                           0.000000                          -1105.92
25                           0.000000                          -1558.71
26                           0.000000                           -164.88
27                           0.000000                          -5141.82
28                           0.000000                              0.00
29                           0.000000                            -61.20
30                           0.000000                         -16350.21
31                           0.000000                          -7103.64
32                           0.000000                          -4924.80
33                           0.000000                           -744.00
34                           0.000000                           -164.16
35                           0.000000                             14.76
36                          61.924242                        -320608.80
37                           0.000000                              0.81

    Revenue computation of min, 2019  Revenue computation of min, 2028  ...  \
0                           -1087.71                              0.00  ...
1                              20.88                              0.00  ...
2                               0.00                              0.00  ...
3                             -82.62                              0.00  ...
4                               0.00                              0.00  ...
5                               0.00                              0.00  ...
6                             -68.94                              0.00  ...
7                            -175.95                              0.00  ...
8                            -148.32                              0.00  ...
9                             -74.52                              0.00  ...
10                           -401.76                              0.00  ...
11                              0.00                              0.00  ...
12                           -331.20                              0.00  ...
13                         -34453.62                             20.88  ...
14                          -2274.27                             62.16  ...
15                             20.88                              0.00  ...
16                          -1350.06                              0.00  ...
17                             34.80                             52.20  ...
18                              0.00                              0.00  ...
19                           -370.98                              0.00  ...
20                           -204.75                              0.00  ...
21                              0.00                              0.00  ...
22                              0.00                              0.00  ...
23                           -538.20                              0.00  ...
24                            -74.52                              0.00  ...
25                              0.00                              0.00  ...
26                            -31.08                              0.00  ...
27                            -25.92                              0.00  ...
28                              0.00                              0.00  ...
29                              0.00                              0.00  ...
30                              0.00                              0.00  ...
31                            -90.72                              0.00  ...
32                           -986.40                              0.00  ...
33                             -8.28                              0.00  ...
34                           -311.04                              0.00  ...
35                              0.00                              0.00  ...
36                        -699796.80                         -56061.12  ...
37                             34.80                              0.00  ...

    Revenue_min_Sat  Revenue_min_Sun  Revenue_min_Tue  Revenue_min_Wed  \
0           -220.32          -158.76         -1761.00         -1087.71
1             12.24           -88.05            38.88            20.88
2             73.44             0.00            48.24             0.00
3            -82.08           -24.84           -82.62           -61.56
4              0.00             0.00             0.00            62.28
5             10.50             0.00            27.60          2280.90
6            -70.38         -1213.02           -17.61            32.40
7          -1327.68          -813.78            32.40          -175.95
8             62.28             0.00             0.00          -148.32
9            -43.50          -247.68            20.88           -74.52
10         -7936.38          -619.92         -2112.00         -6984.90
11           186.30            52.80            51.75           -35.22
12           -32.94           -20.52          -165.60          -331.20
13          -528.00         -4704.30        -34453.62          -258.48
14         -1613.28          -281.52         -2274.27         -2481.93
15          -207.00            20.88             0.00            14.40
16        -10987.38        -10696.77             0.00            16.20
17            34.80            35.40            25.20             0.00
18            55.92             3.96            12.24            13.68
19          -105.66            12.24           -70.38           -18.63
20         -6589.44          -204.75          -422.40             1.23
21             0.00             0.00            42.48             0.00
22             0.00             0.00             0.00             0.00
23             9.72           -41.22          -538.20             0.00
24             1.74          -186.30          -854.52             0.00
25            19.44         -1558.71            27.84             0.00
26           -37.08            27.36            34.80          -103.56
27         -5141.82           -62.28         -2308.98           -20.52
28             0.00             0.00             0.00             0.00
29             0.00             0.00           -61.20             0.00
30         -9865.29             9.72             0.00            27.84
31         -1728.60           -83.04         -7103.64           -41.22
32          -986.40         -4924.80          -747.36           -35.91
33          -496.80          -136.08             0.00          -424.80
34            20.88             5.19          -311.04            20.88
35            62.28             0.00            14.76             0.00
36        -73842.96       -320608.80        -30751.80       -699796.80
37            41.40            20.88             0.81             1.74

    Revenue_sum_Fri  Revenue_sum_Mon  Revenue_sum_Sat  Revenue_sum_Sun  \
0           7235.19        185880.60          5442.27        134034.09
1           2434.86          6946.92         11645.13         10574.25
2              0.00          -852.12          2757.90             0.00
3          10635.96         28722.87         16734.42         26184.03
4              0.00             0.00             0.00             0.00
5              0.00          2222.64         10494.84             0.00
6          11356.98         18365.13          9334.65         18576.45
7              0.00         12140.52         10407.96          6584.04
8              0.00             0.00          2280.12             0.00
9              0.00         24397.68          8178.12           154.80
10        106629.18        175109.70        195111.54        192930.75
11          1605.06             0.00           186.30           793.20
12          2981.82          9838.50          4084.35         31945.53
13         67798.26        185162.76        121129.50        104880.60
14         70127.85        143809.86        148346.16         97883.52
15             0.00             0.00         12567.12          2822.40
16             0.00          2635.74          9250.26         19757.52
17          2951.52          2905.80          5369.10          2425.20
18             0.00          2288.40          1574.52           548.28
19          1421.34          5582.19         12336.42         18133.74
20         16953.18         54198.75          5418.15         29061.36
21             0.00             0.00             0.00             0.00
22          6623.34           261.00             0.00             0.00
23             0.00          3453.24          4639.14           -65.34
24         24191.34        185067.99        144482.10        297139.32
25          1737.36         40780.89         32478.30         10059.09
26             0.00         11658.12          4643.16          5877.96
27          5970.66         27974.97         20367.69         24651.75
28             0.00             0.00             0.00             0.00
29             0.00             0.00             0.00             0.00
30             0.00             0.00         16381.98         17308.32
31         22998.69         40961.19         40610.07         42733.74
32         21176.97         13512.36         46425.12         24060.42
33         34926.48         55015.59         10064.76         37439.07
34             0.00         -6553.56          9106.92          1592.10

In [ ]:
dir(engine.engine)

['__annotations__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_compiled_cache',
 '_connection_cls',
 '_echo',
 '_execution_options',
 '_has_events',
 '_is_future',
 '_lru_size_alert',
 '_option_cls',
 '_optional_conn_ctx_manager',
 '_run_ddl_visitor',
 '_schema_translate_map',
 '_should_log_debug',
 '_should_log_info',
 '_sqla_logger_namespace',
 'begin',
 'clear_compiled_cache',
 'connect',
 'dialect',
 'dispatch',
 'dispose',
 'driver',
 'echo',
 'engine',
 'execution_options',
 'get_execution_options',
 'hide_parameters',
 'logger',
 'logging_name',
 'name',
 'pool',
 'raw_connection',
 'update_execution_options',
 'url']

In [ ]:
print(engine.table_names)

AttributeError: 'Engine' object has no attribute 'table_names'

In [ ]:
output = conn.execute("SELECT * FROM country_table")
print(output.fetchall())

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM country_table'

In [ ]:
result3 = pd.read_sql('SELECT * FROM country_table WHERE Country == Austria', con=engine)
print(result3)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '== Austria' at line 1
[SQL: SELECT * FROM country_table WHERE Country == Austria]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
df2.to_sql('customer_table', engine, if_exists='replace', index=False)

4373

In [ ]:
result2 = pd.read_sql('SELECT * FROM customer_table', con=engine)
print(result2)

      UserId  Expenditure max in year 2018  Expenditure max in year 2019  \
0         -1                      45796.95                      19814.40
1     259266                     320608.80                          0.00
2     259287                       1036.80                        440.64
3     259308                        993.60                          0.00
4     259329                          0.00                       1242.00
...      ...                           ...                           ...
4368  383880                         98.19                          0.00
4369  383901                         70.20                          0.00
4370  383922                         95.04                        105.60
4371  383943                         73.44                         86.40
4372  384027                        361.80                        186.84

      Expenditure max in year 2028  Expenditure mean in year 2018  \
0                         56061.12                      40.806811
1                             0.00                       0.000000
2                           293.76                      92.744516
3                             0.00                     241.339355
4                             0.00                       0.000000
...                            ...                            ...
4368                          0.00                      74.865000
4369                          0.00                      47.828571
4370                          0.00                      51.311250
4371                          0.00                      10.639104
4372                          0.00                     109.477612

      Expenditure mean in year 2019  Expenditure mean in year 2028  \
0                         62.291508                     -18.295881
1                          0.000000                       0.000000
2                        108.671379                      95.210323
3                          0.000000                       0.000000
4                         99.807123                       0.000000
...                             ...                            ...
4368                       0.000000                       0.000000
4369                       0.000000                       0.000000
4370                      64.512000                       0.000000
4371                      13.398283                       0.000000
4372                      98.040000                       0.000000

      Expenditure min in year 2018  Expenditure min in year 2019  \
0                        -69916.41                     -73842.96
1                       -320608.80                          0.00
2                            20.88                         34.80
3                            54.72                          0.00
4                             0.00                         27.60
...                            ...                           ...
4368                         61.56                          0.00
4369                         20.88                          0.00
4370                         -6.15                         20.88
4371                          1.23                          1.62
4372                         20.88                         29.52

      Expenditure min in year 2028  ...  Expenditure min on day Sat  \
0                        -56061.12  ...                   -73842.96
1                             0.00  ...                        0.00
2                            52.20  ...                       34.80
3                             0.00  ...                        0.00
4                             0.00  ...                       27.60
...                            ...  ...                         ...
4368                          0.00  ...                       61.56
4369                          0.00  ...                        0.00
4370                          0.00  ...                        0.00
4371                          0.00  ...                        2.28
4372                          0.00  ...                        0.00

      Expenditure min on day Sun  Expenditure min on day Tue  \
0                      -27826.50                   -30751.80
1                     -320608.80                        0.00
2                          35.40                       25.20
3                          70.80                       54.72
4                           0.00                        0.00
...                          ...                         ...
4368                        0.00                        0.00
4369                        0.00                        0.00
4370                       -6.15                        0.00
4371                        3.24                        1.23
4372                        0.00                        0.00

      Expenditure min on day Wed  Expenditure sum on day Fri  \
0                      -45796.92                    54714.96
1                           0.00                        0.00
2                           0.00                     2951.52
3                           0.00                     1286.64
4                           0.00                        0.00
...                          ...                         ...
4368                        0.00                        0.00
4369                        0.00                      334.80
4370                       20.88                        0.00
4371                        0.00                      436.98
4372                       29.52                     3176.16

      Expenditure sum on day Mon  Expenditure sum on day Sat  \
0                      843945.42                  1300831.38
1                           0.00                        0.00
2                        2905.80                     5369.10
3                           0.00                        0.00
4                           0.00                     7285.92
...                          ...                         ...
4368                        0.00                      748.65
4369                        0.00                        0.00
4370                        0.00                        0.00
4371                     2188.95                     1332.45
4372                     4158.84                        0.00

      Expenditure sum on day Sun  Expenditure sum on day Tue  \
0                     1703167.65                   855183.51
1                           0.00                        0.00
2                        2425.20                     4228.08
3                        2482.56                     3712.32
4                           0.00                        0.00
...                          ...                         ...
4368                        0.00                        0.00
4369                        0.00                        0.00
4370                       -6.15                        0.00
4371                     1293.90                     3237.99
4372                        0.00                        0.00

      Expenditure sum on day Wed
0                     1240618.86
1                           0.00
2                           0.00
3                           0.00
4                           0.00
...                          ...
4368                        0.00
4369                        0.00
4370                      739.20
4371                        0.00
4372                      294.12

[4373 rows x 209 columns]

In [ ]:
pip install fastapi

Collecting fastapi
  Downloading fastapi-0.111.0-py3-none-any.whl.metadata (25 kB)
Collecting starlette<0.38.0,>=0.37.2 (from fastapi)
  Downloading starlette-0.37.2-py3-none-any.whl.metadata (5.9 kB)
Collecting pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 (from fastapi)
  Downloading pydantic-2.8.0-py3-none-any.whl.metadata (123 kB)
     ---------------------------------------- 0.0/123.5 kB ? eta -:--:--
     -------------------------------------  122.9/123.5 kB 2.4 MB/s eta 0:00:01
     -------------------------------------- 123.5/123.5 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from fastapi) (4.12.2)
Collecting fastapi-cli>=0.0.2 (from fastapi)
  Downloading fastapi_cli-0.0.4-py3-none-any.whl.metadata (7.0 kB)
Collecting httpx>=0.23.0 (from fastapi)
  Downloading httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Collecting jinja2>=2.11.2 (from fastapi)
  Downloading jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Collecting python-multipart>=0.0.7 (from fastapi)
  Downloading python_multipart-0.0.9-py3-none-any.whl.metadata (2.5 kB)
Collecting ujson!=4.0.2,!=4.1.0,!=4.2.0,!=4.3.0,!=5.0.0,!=5.1.0,>=4.0.1 (from fastapi)
  Downloading ujson-5.10.0-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Collecting orjson>=3.2.1 (from fastapi)
  Downloading orjson-3.10.6-cp312-none-win_amd64.whl.metadata (51 kB)
     ---------------------------------------- 0.0/51.6 kB ? eta -:--:--
     ---------------------------------------- 51.6/51.6 kB ? eta 0:00:00
Collecting email_validator>=2.0.0 (from fastapi)
  Downloading email_validator-2.2.0-py3-none-any.whl.metadata (25 kB)
Collecting uvicorn>=0.12.0 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading uvicorn-0.30.1-py3-none-any.whl.metadata (6.3 kB)
Collecting dnspython>=2.0.0 (from email_validator>=2.0.0->fastapi)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Collecting idna>=2.0.0 (from email_validator>=2.0.0->fastapi)
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting typer>=0.12.3 (from fastapi-cli>=0.0.2->fastapi)
  Downloading typer-0.12.3-py3-none-any.whl.metadata (15 kB)
Collecting anyio (from httpx>=0.23.0->fastapi)
  Downloading anyio-4.4.0-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: certifi in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from httpx>=0.23.0->fastapi) (2024.6.2)
Collecting httpcore==1.* (from httpx>=0.23.0->fastapi)
  Downloading httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Collecting sniffio (from httpx>=0.23.0->fastapi)
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx>=0.23.0->fastapi)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Collecting MarkupSafe>=2.0 (from jinja2>=2.11.2->fastapi)
  Downloading MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl.metadata (3.1 kB)
Collecting annotated-types>=0.4.0 (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi)
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.20.0 (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi)
  Downloading pydantic_core-2.20.0-cp312-none-win_amd64.whl.metadata (6.7 kB)
Requirement already satisfied: click>=7.0 in c:\users\khyal\appdata\local\programs\python\python312\lib\site-packages (from uvicorn>=0.12.0->uvicorn[standard]>=0.12.0->fastapi) (8.1.7)
Requirement already satisfied: colorama>=0.4 in c:\users\khyal\appdata\roaming\python\python312\site-packages (from uvicorn[standard]>=0.12.0->fastapi) (0.4.6)
Collecting httptools>=0.5.0 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading httptools-0.6.1-cp312-cp312-win_amd64.whl.metadata (3.7 kB)
Collecting python-dotenv>=0.13 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Collecting pyyaml>=5.1 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading PyYAML-6.0.1-cp312-cp312-win_amd64.whl.metadata (2.1 kB)
Collecting watchfiles>=0.13 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading watchfiles-0.22.0-cp312-none-win_amd64.whl.metadata (5.0 kB)
Collecting websockets>=10.4 (from uvicorn[standard]>=0.12.0->fastapi)
  Downloading websockets-12.0-cp312-cp312-win_amd64.whl.metadata (6.8 kB)
Collecting shellingham>=1.3.0 (from typer>=0.12.3->fastapi-cli>=0.0.2->fastapi)
  Downloading shellingham-1.5.4-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting rich>=10.11.0 (from typer>=0.12.3->fastapi-cli>=0.0.2->fastapi)
  Downloading rich-13.7.1-py3-none-any.whl.metadata (18 kB)
Collecting markdown-it-py>=2.2.0 (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\khyal\appdata\roaming\python\python312\site-packages (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi) (2.18.0)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.2->fastapi)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Downloading fastapi-0.111.0-py3-none-any.whl (91 kB)
   ---------------------------------------- 0.0/92.0 kB ? eta -:--:--
   ---------------------------------------- 92.0/92.0 kB 5.5 MB/s eta 0:00:00
Downloading email_validator-2.2.0-py3-none-any.whl (33 kB)
Downloading fastapi_cli-0.0.4-py3-none-any.whl (9.5 kB)
Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
   ---------------------------------------- 0.0/75.6 kB ? eta -:--:--
   ---------------------------------------- 75.6/75.6 kB 4.4 MB/s eta 0:00:00
Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
   ---------------------------------------- 0.0/77.9 kB ? eta -:--:--
   ---------------------------------------- 77.9/77.9 kB 4.2 MB/s eta 0:00:00
Downloading jinja2-3.1.4-py3-none-any.whl (133 kB)
   ---------------------------------------- 0.0/133.3 kB ? eta -:--:--
   ---------------------------------------- 133.3/133.3 kB 7.7 MB/s eta 0:00:00
Downloading orjson-3.10.6-cp312-none-win_amd64.whl (136 kB)
   ---------------------------------------- 0.0/136.4 kB ? eta -:--:--
   ---------------------------------------- 136.4/136.4 kB 7.9 MB/s eta 0:00:00
Downloading pydantic-2.8.0-py3-none-any.whl (423 kB)
   ---------------------------------------- 0.0/423.1 kB ? eta -:--:--
   --------------------------------------- 423.1/423.1 kB 12.9 MB/s eta 0:00:00
Downloading pydantic_core-2.20.0-cp312-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------- ----------------------- 0.8/1.9 MB 47.4 MB/s eta 0:00:01
   ---------------------------- ----------- 1.4/1.9 MB 21.6 MB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 15.1 MB/s eta 0:00:00
Downloading python_multipart-0.0.9-py3-none-any.whl (22 kB)
Downloading starlette-0.37.2-py3-none-any.whl (71 kB)
   ---------------------------------------- 0.0/71.9 kB ? eta -:--:--
   ---------------------------------------- 71.9/71.9 kB 3.9 MB/s eta 0:00:00
Downloading ujson-5.10.0-cp312-cp312-win_amd64.whl (42 kB)
   ---------------------------------------- 0.0/42.2 kB ? eta -:--:--
   ---------------------------------------- 42.2/42.2 kB 2.1 MB/s eta 0:00:00
Downloading uvicorn-0.30.1-py3-none-any.whl (62 kB)
   ---------------------------------------- 0.0/62.4 kB ? eta -:--:--
   ---------------------------------------- 62.4/62.4 kB 3.5 MB/s eta 0:00:00
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading anyio-4.4.0-py3-none-any.whl (86 kB)
   ---------------------------------------- 0.0/86.8 kB ? eta -:--:--
   ---------------------------------------- 86.8/86.8 kB ? eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   --------------------------------------- 307.7/307.7 kB 18.6 MB/s eta 0:00:00
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
   ---------------------------------------- 58.3/58.3 kB 3.0 MB/s eta 0:00:00
Downloading httptools-0.6.1-cp312-cp312-win_amd64.whl (55 kB)
   ---------------------------------------- 0.0/55.7 kB ? eta -:--:--
   ---------------------------------------- 55.7/55.7 kB 3.0 MB/s eta 0:00:00
Downloading idna-3.7-py3-none-any.whl (66 kB)
   ---------------------------------------- 0.0/66.8 kB ? eta -:--:--
   ---------------------------------------- 66.8/66.8 kB ? eta 0:00:00
Downloading MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl (17 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Downloading PyYAML-6.0.1-cp312-cp312-win_amd64.whl (138 kB)
   ---------------------------------------- 0.0/138.7 kB ? eta -:--:--
   ---------------------------------------- 138.7/138.7 kB ? eta 0:00:00
Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Downloading typer-0.12.3-py3-none-any.whl (47 kB)
   ---------------------------------------- 0.0/47.2 kB ? eta -:--:--
   ---------------------------------------- 47.2/47.2 kB ? eta 0:00:00
Downloading watchfiles-0.22.0-cp312-none-win_amd64.whl (280 kB)
   ---------------------------------------- 0.0/281.0 kB ? eta -:--:--
   --------------------------------------- 281.0/281.0 kB 16.9 MB/s eta 0:00:00
Downloading websockets-12.0-cp312-cp312-win_amd64.whl (124 kB)
   ---------------------------------------- 0.0/125.0 kB ? eta -:--:--
   ---------------------------------------- 125.0/125.0 kB 7.2 MB/s eta 0:00:00
Downloading rich-13.7.1-py3-none-any.whl (240 kB)
   ---------------------------------------- 0.0/240.7 kB ? eta -:--:--
   --------------------------------------- 240.7/240.7 kB 15.4 MB/s eta 0:00:00
Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
   ---------------------------------------- 0.0/87.5 kB ? eta -:--:--
   ---------------------------------------- 87.5/87.5 kB 4.8 MB/s eta 0:00:00
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: websockets, ujson, sniffio, shellingham, pyyaml, python-multipart, python-dotenv, pydantic-core, orjson, mdurl, MarkupSafe, idna, httptools, h11, dnspython, annotated-types, uvicorn, pydantic, markdown-it-py, jinja2, httpcore, email_validator, anyio, watchfiles, starlette, rich, httpx, typer, fastapi-cli, fastapi
Successfully installed MarkupSafe-2.1.5 annotated-types-0.7.0 anyio-4.4.0 dnspython-2.6.1 email_validator-2.2.0 fastapi-0.111.0 fastapi-cli-0.0.4 h11-0.14.0 httpcore-1.0.5 httptools-0.6.1 httpx-0.27.0 idna-3.7 jinja2-3.1.4 markdown-it-py-3.0.0 mdurl-0.1.2 orjson-3.10.6 pydantic-2.8.0 pydantic-core-2.20.0 python-dotenv-1.0.1 python-multipart-0.0.9 pyyaml-6.0.1 rich-13.7.1 shellingham-1.5.4 sniffio-1.3.1 starlette-0.37.2 typer-0.12.3 ujson-5.10.0 uvicorn-0.30.1 watchfiles-0.22.0 websockets-12.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip